.home-container {
    position: relative;
    background-color: black;
    /* z-index: 1; */
    /* overflow: hidden; */
}

.home-image {
    position: relative;
    opacity: 0.4;

}

.home-img {
    
    width: 100%;
    height: 700px;
    object-fit: fill;

}

.home-select {
    appearance: none;
}


.home-info {
    position: absolute;
    top: 120px;
    left: 20px;   
    /* position: absolute; */
    /* margin-top: -40rem; */
    /* top: 30px; */
    /* z-index: -1; */
    /* max-width: 1024px; */
    /* background-color: red; */
    color: white;
}

.home-head-h1 {
    font-size: 50px;
    font-weight: bold;
}

.home-text-para {
    font-size: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-info {
        top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            text-align: center;
    }
   
    .home-head-h1 {
        font-size: 40px;
    }

    .home-text-para {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .home-info {
        width: 100%;
        top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            text-align: center;
    }

    .home-head-h1 {
        font-size: 35px;
    }

    .home-text-para {
        font-size: 18px;
    }
}

.home-content {
    /* position: relative; */
    position: absolute;
    width: 100%;
    max-width: 1200px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        /* text-align: center; */
}

/* Media query for screens wider than 600px */
/* @media screen and (max-width: 600px) {
    .home-content {
        max-width: 800px;
    }
} */

.home-form-grid {
    margin-top: 2rem;
}

.home-grid-box {
    /* z-index: 999; */
    background-color: #fff;
    /* position: relative; */ 
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    padding: 5px;
    max-width: 950px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 576px) and  (max-width: 768px) { 
    .home-content {
        top: 35%;
        /* left: 50%; */
    }

    .home-grid-box {
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
    }


}

@media (max-width: 575px) {
    .home-content {
            top: 40%;
            /* left: 50%; */
        }
    .home-grid-box {
        grid-template-columns: 1fr;
        max-width: 450px;
    }	    
}

.home-input, .home-select, .home-btn {
    height: 50px;
    background: none;
}

.home-input[type="date"], .home-select, .home-btn {
    border: none;
    outline: none;
    appearance: none;
    
}

.home-select {
    width: 250px;
    /* margin-right: 60px; */
}

.home-input {
    width: 70%;
}

/* .home-grid-line {
    position: absolute;
    z-index: 10;
    background-color: black;
    width: 2px;
    height: 50px;
    top: 7px;
    left: 300px;
} */

.home-grid3-line {
    position: absolute;
    /* z-index: 1; */
    background-color: black;
    width: 2px;
    height: 50px;
    top: 7px;
    left: 300px;
}

.home-grid2-line {
    width: 1px;
    height: 30px;
    /* z-index: 999; */
    background-color: black;
}

.home-grid2-line {
    width: 1px;
    height: 20px;
    background-color: black;

}

.home-grid-line2 {
    background-color: black;
    width: 2px;
    height: 50px;
}


/* input[type=date]::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input[type=date]::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input[type=date]::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
} */

input[type="date"]::-webkit-input-placeholder {
    color: transparent;
}

.home-grid-guard  {
    position: absolute;
    top: 60%;
    /* left: 10%; */
    margin-top: 3rem;
    /* position: relative; */
    /* justify-content: space-around; */
    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: repeat(4, 1fr);
}

.home-card {
    padding: 1rem;
    position: relative;
}

.home-card-img {
    /* width: 250px; */
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

@media (min-width: 576px) and (max-width: 768px) {
    .home-grid-guard {
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
    }


}

@media (max-width: 575px) {

    .home-grid-guard {
        grid-template-columns: 1fr;
        max-width: 450px;
    }
}

/* @media (max-width: 768px) and (min-width: 481px){
    .home-grid-guard {
        grid-template-columns: repeat(2, 1fr);
        position: static;
        margin-top: 15rem;
    }
}

@media (max-width: 480px) and (min-width: 0){
    .home-grid-guard {
        grid-template-columns: 1fr;
        position: static;
        margin-top: 20rem;
    }
} */

.home-card-text {
    color: white;
    position: absolute;
    top: 25px;
    left: 30px;
}
