html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Your content container */
.content {
  flex: 1;
}

.overflow-hidden {
  overflow: hidden; /* or use 'auto' if you want to add a scrollbar when content overflows */
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
    justify-content: space-between;
  }
  

.items-center {
  align-items: center;
}

.admin-nav {
  min-height: 100vh;
  padding-top: 1rem;
  background: rgb(229 231 235);
}

.admin-nav-button {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: start;
  transition: color 0ms;
  transition: background 150ms ease;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.admin-nav-button:hover {
  background: maroon;
  color: white;
  transition-delay: 150ms;
  text-decoration: none;
}

.card-number{
    font-size: 1.5rem;
}

.active{
    background: maroon;
    color: white;
}